<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>星权-账号信息</title>
</head>
<body>
<div style="border:solid 1px #CBCBCB; margin:15px;">
<div style="background-color:#05406F;padding: 18px;padding-left:30px;">
<img src="http://eip.xingquanlaw.com/logo.jpg">
</div>
<div style="padding:20px; font-size:15px; color:#515253;">
<h4 style="font-size:15px; font-weight:bold;line-height:45px;">亲爱的伙伴：$userName</h4>
<p style="text-indent:2em;">您好！</p>
<p style="text-indent:2em;line-height:25px;">星权案件管理系统已经成功为更新账户密码，请尽快登陆系统：</p>
<p style="text-indent:2em;line-height:25px;">&nbsp;&nbsp;&nbsp;&nbsp;登陆名： $loginName</p>
<p style="text-indent:2em;line-height:25px;">&nbsp;&nbsp;&nbsp;&nbsp;登陆密码：$loginPwd</p>
<p style="text-indent:2em;line-height:25px;color:red">注意密码保密，尽快登陆系统进行密码修改处理。</p>
<p style="text-indent:2em;line-height:25px;"><a href="http://eip.xingquanlaw.com" style="color: rgb(31, 137, 25); font-family: Arial, Verdana, sans-serif; font-size: 18px; line-height: 21px; text-decoration: none;">http://eip.xingquanlaw.com</a></p>
<p style="text-indent:2em;line-height:25px;">如以上链接不能点击，您可以将链接地址复制到浏览器地址栏中打开。</p>
<p style="text-indent:2em;line-height:15px;">&nbsp;</p>
<p style="text-indent:2em;line-height:15px;">&nbsp;</p>
<p style="text-indent:2em;">星权案件管理系统维护团队</p>
<p style="text-indent:2em;font-family:arial;">$date</p>
<hr color="#CBCBCB" size="1">
<p style="line-height:25px;">系统发信，请勿回复<br>
官方网站：<a href="http://eip.xingquanlaw.com" style="color:#264EB7;text-decoration:none;font-family:arial;" target="_blank">http://eip.xingquanlaw.com</a><br>
客服邮箱：<a href="mailto:bgxt@xingquanlaw.com" style="color:#264EB7;text-decoration:none;font-family:arial;" target="_blank">bgxt@xingquanlaw.com</a>
</p>
</div>
</div>
</body>
</html>