<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="true">
	<description>Email配置</description>
	<!-- 邮件发送器 -->
 	<bean id="mailService" class="lawyer.base.ccase.plugins.email.impl.SmtpSendMailService"></bean>
	<!-- VelocityEngine -->
	<bean id="mailVelocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="resourceLoaderPath" value="classpath:/email/" />
	</bean>
</beans>