<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lawyer.base.ccase.dao.CasePreLitigationDao" > 
<!--*********************************** generation code  start ***********************************-->
<!-- Result Map-->
<resultMap id="BaseResultMap" type="lawyer.base.ccase.entity.CasePreLitigation" >
	<result column="status" property="status" jdbcType="INTEGER"/>
	<result column="org" property="org" jdbcType="VARCHAR"/>
	<result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
	<result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
	<result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
	<result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
	<result column="case_id" property="caseId" jdbcType="INTEGER"/>
	<result column="letter" property="letter" jdbcType="VARCHAR"/>
	<result column="letteror" property="letteror" jdbcType="VARCHAR"/>
	<result column="send_date" property="sendDate" jdbcType="DATE"/>
	<result column="delivery_date" property="deliveryDate" jdbcType="DATE"/>
	<result column="is_close" property="isClose" jdbcType="VARCHAR"/>
	<result column="remark" property="remark" jdbcType="VARCHAR"/>
	<result column="is_direct_action" property="isDirectAction" jdbcType="VARCHAR"/>
	
	<result column="litigant" property="litigant" jdbcType="VARCHAR"/>
    <result column="defendant_name" property="defendantName" jdbcType="VARCHAR"/>
    <result column="defendant_reg_capital" property="defendantRegCapital" jdbcType="VARCHAR"/>
    <result column="defendant_area" property="defendantArea" jdbcType="VARCHAR"/>
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
    
    <result column="letteror_name" property="letterorName" jdbcType="VARCHAR"/>
</resultMap>
       
<!-- case_pre_litigation table all fields -->
<sql id="Base_Column_List" >
	 status,org,created_by,created_time,updated_by,updated_time,case_id,letter,letteror,send_date,delivery_date,is_close,remark,is_direct_action,litigant,defendant_name,defendant_reg_capital,defendant_area,del_flag
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
<trim prefix = "where" prefixOverrides="and|or">
	<!--  -->
		<if test="status != null" >
	    and status =  #{status}
	</if>
	<!--  -->
		 	<if test="org != null and org != ''" >
	    and org =  #{org}
	</if>
	<!--  -->
		 	<if test="createdBy != null and createdBy != ''" >
	    and created_by =  #{createdBy}
	</if>
	<!--  -->
		<if test="createdTime != null" >
	    and created_time =  #{createdTime}
	</if>
	<!--  -->
		 	<if test="updatedBy != null and updatedBy != ''" >
	    and updated_by =  #{updatedBy}
	</if>
	<!--  -->
		<if test="updatedTime != null" >
	    and updated_time =  #{updatedTime}
	</if>
	<!--  -->
		<if test="caseId != null" >
	    and case_id =  #{caseId}
	</if>
	<!--  -->
		 	<if test="letter != null and letter != ''" >
	    and letter =  #{letter}
	</if>
	<!--  -->
		 	<if test="letteror != null and letteror != ''" >
	    and letteror =  #{letteror}
	</if>
	<!--  -->
		<if test="sendDate != null" >
	    and send_date =  #{sendDate}
	</if>
	<!--  -->
		<if test="deliveryDate != null" >
	    and delivery_date =  #{deliveryDate}
	</if>
	<!--  -->
		 	<if test="isClose != null and isClose != ''" >
	    and is_close =  #{isClose}
	</if>
	<!--  -->
		 	<if test="remark != null and remark != ''" >
	    and remark =  #{remark}
	</if>
	<!--  -->
		 	<if test="isDirectAction != null and isDirectAction != ''" >
	    and is_direct_action =  #{isDirectAction}
	</if>	
</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
<!-- <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey> -->
  insert into case_pre_litigation(status,org,created_by,created_time,updated_by,updated_time,case_id,letter,letteror,send_date,delivery_date,is_close,remark,is_direct_action)
 values(#{status,jdbcType=INTEGER},#{org,jdbcType=VARCHAR},#{createdBy,jdbcType=VARCHAR},#{createdTime,jdbcType=TIMESTAMP},#{updatedBy,jdbcType=VARCHAR},#{updatedTime,jdbcType=TIMESTAMP},#{caseId,jdbcType=INTEGER},#{letter,jdbcType=VARCHAR},#{letteror,jdbcType=VARCHAR},#{sendDate,jdbcType=DATE},#{deliveryDate,jdbcType=DATE},#{isClose,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{isDirectAction,jdbcType=VARCHAR})
</insert>

<!-- 根据id，修改记录-->
 <update id="update" parameterType="Object" >
  update case_pre_litigation set status=#{status,jdbcType=INTEGER},org=#{org,jdbcType=VARCHAR},created_by=#{createdBy,jdbcType=VARCHAR},created_time=#{createdTime,jdbcType=TIMESTAMP},updated_by=#{updatedBy,jdbcType=VARCHAR},updated_time=#{updatedTime,jdbcType=TIMESTAMP},case_id=#{caseId,jdbcType=INTEGER},letter=#{letter,jdbcType=VARCHAR},letteror=#{letteror,jdbcType=VARCHAR},send_date=#{sendDate,jdbcType=DATE},delivery_date=#{deliveryDate,jdbcType=DATE},is_close=#{isClose,jdbcType=VARCHAR},remark=#{remark,jdbcType=VARCHAR},is_direct_action=#{isDirectAction,jdbcType=VARCHAR} where case_id=#{caseId,jdbcType=INTEGER}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update case_pre_litigation set 
	<trim  suffixOverrides="," >
	<if test="status != null" >
	    status = #{status,jdbcType=INTEGER},
	</if>
	<if test="org != null  ">
		org=#{org,jdbcType=VARCHAR},
	</if>
	<if test="createdBy != null  ">
		created_by=#{createdBy,jdbcType=VARCHAR},
	</if>
	<if test="createdTime != null  ">
		created_time=#{createdTime,jdbcType=TIMESTAMP},
	</if>
	<if test="updatedBy != null  ">
		updated_by=#{updatedBy,jdbcType=VARCHAR},
	</if>
	<if test="updatedTime != null  ">
		updated_time=#{updatedTime,jdbcType=TIMESTAMP},
	</if>
	<if test="letter != null  ">
		letter=#{letter,jdbcType=VARCHAR},
	</if>
	<if test="letteror != null  ">
		letteror=#{letteror,jdbcType=VARCHAR},
	</if>
	<if test="sendDate != null  ">
		send_date=#{sendDate,jdbcType=DATE},
	</if>
	<if test="deliveryDate != null  ">
		delivery_date=#{deliveryDate,jdbcType=DATE},
	</if>
	<if test="isClose != null  ">
		is_close=#{isClose,jdbcType=VARCHAR},
	</if>
	<if test="remark != null  ">
		remark=#{remark,jdbcType=VARCHAR},
	</if>
	<if test="isDirectAction != null  ">
		is_direct_action=#{isDirectAction,jdbcType=VARCHAR},
	</if>	
	</trim> where case_id=#{caseId,jdbcType=INTEGER}
</update>

<!-- 删除记录 -->
<!-- 
<delete id="delete" parameterType="Object">
	delete 	 from case_pre_litigation where status = #{status}
</delete>
-->
<update id="delete" parameterType="Object">
    update case_info set del_flag='1' where id=#{caseId,jdbcType=INTEGER}
</update>
 
<!-- 根据id查询 案件诉前和解信息 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	,(select name from sys_user_ext sut where sut.uid=case_pre_litigation.letteror) as letteror_name  
	 from (select ap.*,inf.litigant,inf.defendant_name,inf.defendant_reg_capital,inf.defendant_area,inf.del_flag from case_pre_litigation ap, case_info inf where ap.case_id=inf.id) as case_pre_litigation where case_id=#{caseId,jdbcType=INTEGER}
</select>

<!-- 案件诉前和解信息 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from case_pre_litigation 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询案件诉前和解信息列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select <include refid="Base_Column_List"/>
	,(select name from sys_user_ext sut where sut.uid=case_pre_litigation.letteror) as letteror_name 
	from (select ap.*,inf.litigant,inf.defendant_name,inf.defendant_reg_capital,inf.defendant_area,inf.del_flag from case_pre_litigation ap, case_info inf where ap.case_id=inf.id) as case_pre_litigation 
	<include refid="Example_Where_Clause"/>
	
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>

	<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>

</select>
<!--*********************************** generation code  end ***********************************-->

	
</mapper>