<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lawyer.base.ccase.dao.CaseCarryOutDao" > 
<!--*********************************** generation code  start ***********************************-->
<!-- Result Map-->
<resultMap id="BaseResultMap" type="lawyer.base.ccase.entity.CaseCarryOut" >
	<result column="status" property="status" jdbcType="INTEGER"/>
	<result column="org" property="org" jdbcType="VARCHAR"/>
	<result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
	<result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
	<result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
	<result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
	<result column="case_id" property="caseId" jdbcType="INTEGER"/>
	<result column="lawyer" property="lawyer" jdbcType="VARCHAR"/>
	<result column="app_date" property="appDate" jdbcType="DATE"/>
	<result column="app_total" property="appTotal" jdbcType="DECIMAL"/>
	<result column="judge" property="judge" jdbcType="VARCHAR"/>
	<result column="judge_contact" property="judgeContact" jdbcType="VARCHAR"/>
	<result column="actual_total" property="actualTotal" jdbcType="DECIMAL"/>
	<result column="f_collection_subject" property="fcollectionSubject" jdbcType="VARCHAR"/>
	<result column="remark" property="remark" jdbcType="VARCHAR"/>
	<result column="is_reconcile" property="isReconcile" jdbcType="VARCHAR"/>
	<result column="is_close" property="isClose" jdbcType="VARCHAR"/>
	
	<result column="litigant" property="litigant" jdbcType="VARCHAR"/>
    <result column="defendant_name" property="defendantName" jdbcType="VARCHAR"/>
    <result column="defendant_reg_capital" property="defendantRegCapital" jdbcType="VARCHAR"/>
    <result column="defendant_area" property="defendantArea" jdbcType="VARCHAR"/>
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
    
     <result column="lawyer_name" property="lawyerName" jdbcType="VARCHAR"/>
</resultMap>
       
<!-- case_carry_out table all fields -->
<sql id="Base_Column_List" >
	 status,org,created_by,created_time,updated_by,updated_time,case_id,lawyer,app_date,app_total,judge,judge_contact,actual_total,f_collection_subject,remark,is_reconcile,is_close,litigant,defendant_name,defendant_reg_capital,defendant_area,del_flag
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
<trim prefix = "where" prefixOverrides="and|or">
	<!--  -->
		<if test="status != null" >
	    and status =  #{status}
	</if>
	<!--  -->
		 	<if test="org != null and org != ''" >
	    and org =  #{org}
	</if>
	<!--  -->
		 	<if test="createdBy != null and createdBy != ''" >
	    and created_by =  #{createdBy}
	</if>
	<!--  -->
		<if test="createdTime != null" >
	    and created_time =  #{createdTime}
	</if>
	<!--  -->
		 	<if test="updatedBy != null and updatedBy != ''" >
	    and updated_by =  #{updatedBy}
	</if>
	<!--  -->
		<if test="updatedTime != null" >
	    and updated_time =  #{updatedTime}
	</if>
	<!--  -->
		<if test="caseId != null" >
	    and case_id =  #{caseId}
	</if>
	<!--  -->
		 	<if test="lawyer != null and lawyer != ''" >
	    and lawyer =  #{lawyer}
	</if>
	<!--  -->
		<if test="appDate != null" >
	    and app_date =  #{appDate}
	</if>
	<!--  -->
		<if test="appTotal != null" >
	    and app_total =  #{appTotal}
	</if>
	<!--  -->
		 	<if test="judge != null and judge != ''" >
	    and judge =  #{judge}
	</if>
	<!--  -->
		 	<if test="judgeContact != null and judgeContact != ''" >
	    and judge_contact =  #{judgeContact}
	</if>
	<!--  -->
		<if test="actualTotal != null" >
	    and actual_total =  #{actualTotal}
	</if>
	<!--  -->
		 	<if test="fcollectionSubject != null and fcollectionSubject != ''" >
	    and f_collection_subject =  #{fcollectionSubject}
	</if>
	<!--  -->
		 	<if test="remark != null and remark != ''" >
	    and remark =  #{remark}
	</if>
	<!--  -->
		 	<if test="isReconcile != null and isReconcile != ''" >
	    and is_reconcile =  #{isReconcile}
	</if>
		<!--  -->
		 	<if test="isClose != null and isClose != ''" >
	    and is_close =  #{isClose}
	</if>	
	
</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
<!-- <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey> -->
  insert into case_carry_out(status,org,created_by,created_time,updated_by,updated_time,case_id,lawyer,app_date,app_total,judge,judge_contact,actual_total,f_collection_subject,remark,is_reconcile,is_close)
 values(#{status,jdbcType=INTEGER},#{org,jdbcType=VARCHAR},#{createdBy,jdbcType=VARCHAR},#{createdTime,jdbcType=TIMESTAMP},#{updatedBy,jdbcType=VARCHAR},#{updatedTime,jdbcType=TIMESTAMP},#{caseId,jdbcType=INTEGER},#{lawyer,jdbcType=VARCHAR},#{appDate,jdbcType=DATE},#{appTotal,jdbcType=DECIMAL},#{judge,jdbcType=VARCHAR},#{judgeContact,jdbcType=VARCHAR},#{actualTotal,jdbcType=DECIMAL},#{fcollectionSubject,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{isReconcile,jdbcType=VARCHAR},#{isClose,jdbcType=VARCHAR})
</insert>

<!-- 根据id，修改记录-->
 <update id="update" parameterType="Object" >
  update case_carry_out set status=#{status,jdbcType=INTEGER},updated_by=#{updatedBy,jdbcType=VARCHAR},updated_time=#{updatedTime,jdbcType=TIMESTAMP},case_id=#{caseId,jdbcType=INTEGER},lawyer=#{lawyer,jdbcType=VARCHAR},app_date=#{appDate,jdbcType=DATE},app_total=#{appTotal,jdbcType=DECIMAL},judge=#{judge,jdbcType=VARCHAR},judge_contact=#{judgeContact,jdbcType=VARCHAR},actual_total=#{actualTotal,jdbcType=DECIMAL},f_collection_subject=#{fcollectionSubject,jdbcType=VARCHAR},remark=#{remark,jdbcType=VARCHAR},is_reconcile=#{isReconcile,jdbcType=VARCHAR},is_close=#{isClose,jdbcType=VARCHAR} where case_id=#{caseId,jdbcType=INTEGER}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update case_carry_out set 
	<trim  suffixOverrides="," >
	<if test="status != null" >
	    status = #{status,jdbcType=INTEGER},
	</if>
	<if test="org != null  ">
		org=#{org,jdbcType=VARCHAR},
	</if>
	<if test="createdBy != null and createdBy !='' ">
		created_by=#{createdBy,jdbcType=VARCHAR},
	</if>
	<if test="createdTime != null  ">
		created_time=#{createdTime,jdbcType=TIMESTAMP},
	</if>
	<if test="updatedBy != null  ">
		updated_by=#{updatedBy,jdbcType=VARCHAR},
	</if>
	<if test="updatedTime != null  ">
		updated_time=#{updatedTime,jdbcType=TIMESTAMP},
	</if>
	<if test="lawyer != null  ">
		lawyer=#{lawyer,jdbcType=VARCHAR},
	</if>
	<if test="appDate != null  ">
		app_date=#{appDate,jdbcType=DATE},
	</if>
	<if test="appTotal != null  ">
		app_total=#{appTotal,jdbcType=DECIMAL},
	</if>
	<if test="judge != null  ">
		judge=#{judge,jdbcType=VARCHAR},
	</if>
	<if test="judgeContact != null  ">
		judge_contact=#{judgeContact,jdbcType=VARCHAR},
	</if>
	<if test="actualTotal != null  ">
		actual_total=#{actualTotal,jdbcType=DECIMAL},
	</if>
	<if test="fcollectionSubject != null  ">
		f_collection_subject=#{fcollectionSubject,jdbcType=VARCHAR},
	</if>
	<if test="remark != null  ">
		remark=#{remark,jdbcType=VARCHAR},
	</if>
	<if test="isReconcile != null  ">
		is_reconcile=#{isReconcile,jdbcType=VARCHAR},
	</if>
	<if test="isClose != null  ">
		is_close=#{isClose,jdbcType=VARCHAR},
	</if>	
	</trim> where case_id=#{caseId,jdbcType=INTEGER}
</update>

<!-- 删除记录 -->
<!-- 
<delete id="delete" parameterType="Object">
    delete   from case_carry_out where status = #{status}
</delete>
-->
<update id="delete" parameterType="Object">
    update case_info set del_flag='1' where id=#{caseId,jdbcType=INTEGER}
</update>
 
<!-- 根据id查询 案件执行阶段信息 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	,(select nickName from sys_user sut where sut.id=case_carry_out.lawyer) as lawyer_name 
	 from (select ap.*,inf.litigant,inf.defendant_name,inf.defendant_reg_capital,inf.defendant_area,inf.del_flag from case_carry_out ap, case_info inf where ap.case_id=inf.id) as case_carry_out where case_id=#{caseId,jdbcType=INTEGER}
</select>

<!-- 案件执行阶段信息 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from case_carry_out 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询案件执行阶段信息列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select <include refid="Base_Column_List"/>
	,(select nickName from sys_user sut where sut.id=case_carry_out.lawyer) as lawyer_name 
	from (select ap.*,inf.litigant,inf.defendant_name,inf.defendant_reg_capital,inf.defendant_area,inf.del_flag from case_carry_out ap, case_info inf where ap.case_id=inf.id) as case_carry_out 
	<include refid="Example_Where_Clause"/>
	
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>

	<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>

</select>
<!--*********************************** generation code  end ***********************************-->

	
</mapper>