<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lawyer.base.ccase.dao.CaseApplyDao" > 
<!--*********************************** generation code  start ***********************************-->
<!-- Result Map-->
<resultMap id="BaseResultMap" type="lawyer.base.ccase.entity.CaseApply" >
	<result column="status" property="status" jdbcType="INTEGER"/>
	<result column="org" property="org" jdbcType="VARCHAR"/>
	<result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
	<result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
	<result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
	<result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
	<result column="case_id" property="caseId" jdbcType="INTEGER"/>
	<result column="src" property="src" jdbcType="VARCHAR"/>
	<result column="supply" property="supply" jdbcType="VARCHAR"/>
	<result column="apply_date" property="applyDate" jdbcType="DATE"/>
	<result column="applicant" property="applicant" jdbcType="VARCHAR"/>
	<result column="forensics" property="forensics" jdbcType="VARCHAR"/>
	<result column="violate_type" property="violateType" jdbcType="VARCHAR"/>
	<result column="violate_desc" property="violateDesc" jdbcType="VARCHAR"/>
	<result column="action_date" property="actionDate" jdbcType="DATE"/>
	<result column="litigant_ac_date" property="litigantAcDate" jdbcType="DATE"/>
	<result column="action_img" property="actionImg" jdbcType="VARCHAR"/>
    <result column="litigant_ac_img" property="litigantAcImg" jdbcType="VARCHAR"/>
    <result column="is_direct_action" property="isDirectAction" jdbcType="VARCHAR"/>

	<result column="litigant" property="litigant" jdbcType="VARCHAR"/>
    <result column="defendant_name" property="defendantName" jdbcType="VARCHAR"/>
    <result column="defendant_reg_capital" property="defendantRegCapital" jdbcType="VARCHAR"/>
    <result column="defendant_area" property="defendantArea" jdbcType="VARCHAR"/>
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
    
    <result column="supply_name" property="supplyName" jdbcType="VARCHAR"/>
    <result column="applicant_name" property="applicantName" jdbcType="VARCHAR"/>
    <result column="forensics_name" property="forensicsName" jdbcType="VARCHAR"/>
    
    <result column="is_apply" property="isApply" jdbcType="VARCHAR"/>
</resultMap>
       
<!-- case_apply table all fields -->
<sql id="Base_Column_List" >
	 status,org,created_by,created_time,updated_by,updated_time,case_id,src,supply,is_apply,apply_date,applicant,forensics,violate_type,violate_desc,action_date,litigant_ac_date,action_img,litigant_ac_img,is_direct_action,litigant,defendant_name,defendant_reg_capital,defendant_area,del_flag
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
<trim prefix = "where" prefixOverrides="and|or">
	<!--  -->
		<if test="status != null" >
	    and status =  #{status}
	</if>
	<!--  -->
		 	<if test="delFlag != null and delFlag != ''" >
	    and del_flag =  #{delFlag}
	</if>
	<!--  -->
		 	<if test="org != null and org != ''" >
	    and org =  #{org}
	</if>
	<!--  -->
		 	<if test="createdBy != null and createdBy != ''" >
	    and created_by =  #{createdBy}
	</if>
	<!--  -->
		<if test="createdTime != null" >
	    and created_time =  #{createdTime}
	</if>
	<!--  -->
		 	<if test="updatedBy != null and updatedBy != ''" >
	    and updated_by =  #{updatedBy}
	</if>
	<!--  -->
		<if test="updatedTime != null" >
	    and updated_time =  #{updatedTime}
	</if>
	<!--  -->
		<if test="caseId != null" >
	    and case_id =  #{caseId}
	</if>
	<!--  -->
		 	<if test="src != null and src != ''" >
	    and src =  #{src}
	</if>
	<!--  -->
		 	<if test="supply != null and supply != ''" >
	    and supply =  #{supply}
	</if>
	<if test="isApply != null and isApply != ''" >
	    and is_apply =  #{isApply}
	</if>
	<!--  -->
		<if test="applyDate != null" >
	    and apply_date =  #{applyDate}
	</if>
	<!--  -->
		 	<if test="applicant != null and applicant != ''" >
	    and applicant =  #{applicant}
	</if>
	<!--  -->
		 	<if test="forensics != null and forensics != ''" >
	    and forensics =  #{forensics}
	</if>
	<!--  -->
		 	<if test="violateType != null and violateType != ''" >
	    and violate_type =  #{violateType}
	</if>
	<!--  -->
		 	<if test="violateDesc != null and violateDesc != ''" >
	    and violate_desc =  #{violateDesc}
	</if>
	<!--  -->
		<if test="actionDate != null" >
	    and action_date =  #{actionDate}
	</if>
	<!--  -->
		<if test="litigantAcDate != null" >
	    and litigant_ac_date =  #{litigantAcDate}
	</if>
     <if test="actionImg != null and actionImg != ''" >
        and action_img =  #{actionImg}
    </if>
    <if test="litigantAcImg != null and litigantAcImg != ''" >
        and litigant_ac_img =  #{litigantAcImg}
    </if>
     <if test="isDirectAction != null and isDirectAction != ''" >
        and is_direct_action =  #{isDirectAction}
    </if>
     <if test="litigant != null and litigant != ''" >
        and (litigant =  #{litigant} OR litigant like CONCAT('%', #{litigant},'%'))
    </if>
    <if test="defendantName != null and defendantName != ''" >
        and (defendant_name =  #{defendantName} OR defendant_name like CONCAT('%', #{defendantName},'%'))
    </if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
<!--   <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey> -->
  insert into case_apply(status,org,created_by,created_time,updated_by,updated_time,case_id,src,supply,is_apply,apply_date,applicant,forensics,violate_type,violate_desc,action_date,litigant_ac_date,action_img,litigant_ac_img,is_direct_action)
 values(#{status,jdbcType=INTEGER},#{org,jdbcType=VARCHAR},#{createdBy,jdbcType=VARCHAR},#{createdTime,jdbcType=TIMESTAMP},#{updatedBy,jdbcType=VARCHAR},#{updatedTime,jdbcType=TIMESTAMP},#{caseId,jdbcType=INTEGER},#{src,jdbcType=VARCHAR},#{supply,jdbcType=VARCHAR},#{isApply,jdbcType=VARCHAR},#{applyDate,jdbcType=DATE},#{applicant,jdbcType=VARCHAR},#{forensics,jdbcType=VARCHAR},#{violateType,jdbcType=VARCHAR},#{violateDesc,jdbcType=VARCHAR},#{actionDate,jdbcType=DATE},#{litigantAcDate,jdbcType=DATE},#{actionImg,jdbcType=VARCHAR},#{litigantAcImg,jdbcType=VARCHAR},#{isDirectAction,jdbcType=VARCHAR})
</insert>

<!-- 根据id，修改记录-->
 <update id="update" parameterType="Object" >
  update case_apply set status=#{status,jdbcType=INTEGER},updated_by=#{updatedBy,jdbcType=VARCHAR},updated_time=#{updatedTime,jdbcType=TIMESTAMP},src=#{src,jdbcType=VARCHAR},supply=#{supply,jdbcType=VARCHAR},is_apply=#{isApply,jdbcType=VARCHAR},apply_date=#{applyDate,jdbcType=DATE},applicant=#{applicant,jdbcType=VARCHAR},forensics=#{forensics,jdbcType=VARCHAR},violate_type=#{violateType,jdbcType=VARCHAR},violate_desc=#{violateDesc,jdbcType=VARCHAR},action_date=#{actionDate,jdbcType=DATE},litigant_ac_date=#{litigantAcDate,jdbcType=DATE},action_img=#{actionImg,jdbcType=VARCHAR},litigant_ac_img=#{litigantAcImg,jdbcType=VARCHAR},is_direct_action=#{isDirectAction,jdbcType=VARCHAR} where case_id=#{caseId,jdbcType=INTEGER}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update case_apply set 
	<trim  suffixOverrides="," >
	<if test="status != null" >
	    status = #{status,jdbcType=INTEGER},
	</if>
	<if test="org != null  ">
		org=#{org,jdbcType=VARCHAR},
	</if>
	<if test="createdBy != null and createdBy !='' ">
		created_by=#{createdBy,jdbcType=VARCHAR},
	</if>
	<if test="createdTime != null  ">
		created_time=#{createdTime,jdbcType=TIMESTAMP},
	</if>
	<if test="updatedBy != null  ">
		updated_by=#{updatedBy,jdbcType=VARCHAR},
	</if>
	<if test="updatedTime != null  ">
		updated_time=#{updatedTime,jdbcType=TIMESTAMP},
	</if>
	<if test="src != null  ">
		src=#{src,jdbcType=VARCHAR},
	</if>
	<if test="supply != null  ">
		supply=#{supply,jdbcType=VARCHAR},
	</if>
	<if test="isApply != null  ">
		is_apply=#{isApply,jdbcType=VARCHAR},
	</if>
	<if test="applyDate != null  ">
		apply_date=#{applyDate,jdbcType=DATE},
	</if>
	<if test="applicant != null  ">
		applicant=#{applicant,jdbcType=VARCHAR},
	</if>
	<if test="forensics != null  ">
		forensics=#{forensics,jdbcType=VARCHAR},
	</if>
	<if test="violateType != null  ">
		violate_type=#{violateType,jdbcType=VARCHAR},
	</if>
	<if test="violateDesc != null  ">
		violate_desc=#{violateDesc,jdbcType=VARCHAR},
	</if>
	<if test="actionDate != null  ">
		action_date=#{actionDate,jdbcType=DATE},
	</if>
	<if test="litigantAcDate != null  ">
		litigant_ac_date=#{litigantAcDate,jdbcType=DATE},
	</if>
	<if test="actionImg != null and actionImg != ''" >
        action_img=#{actionImg,jdbcType=VARCHAR},
    </if>
    <if test="litigantAcImg != null and litigantAcImg != ''" >
        litigant_ac_img=#{litigantAcImg,jdbcType=VARCHAR},
    </if>
    <if test="isDirectAction != null and isDirectAction != ''" >
        is_direct_action=#{isDirectAction,jdbcType=VARCHAR},
    </if>
	</trim> where case_id=#{caseId,jdbcType=INTEGER}
</update>

<!-- 删除记录 -->
<!-- 
<delete id="delete" parameterType="Object">
	delete from case_apply where case_id=#{caseId,jdbcType=INTEGER}
</delete>
-->
<update id="delete" parameterType="Object">
    update case_info set del_flag='1' where id=#{caseId,jdbcType=INTEGER}
</update>
 
<!-- 根据id查询 案件确立阶段信息 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	,(select nickName from sys_user sut where sut.id=case_apply.supply) as supply_name 
	,(select nickName from sys_user sut where sut.id=case_apply.applicant) as applicant_name 
	,(select nickName from sys_user sut where sut.id=case_apply.forensics) as forensics_name 
	 from (select ap.*,inf.litigant,inf.defendant_name,inf.defendant_reg_capital,inf.defendant_area,inf.del_flag from case_apply ap, case_info inf where ap.case_id=inf.id) as case_apply where case_id=#{caseId,jdbcType=INTEGER}
</select>

<!-- 案件确立阶段信息 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from (select ap.*,inf.litigant,inf.defendant_name,inf.defendant_reg_capital,inf.defendant_area,inf.del_flag from case_apply ap, case_info inf where ap.case_id=inf.id) as case_apply   
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询案件确立阶段信息列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 	<include refid="Base_Column_List"/>
	,(select nickName from sys_user sut where sut.id=case_apply.supply) as supply_name 
	,(select nickName from sys_user sut where sut.id=case_apply.applicant) as applicant_name 
	,(select nickName from sys_user sut where sut.id=case_apply.forensics) as forensics_name 
	from (select ap.*,inf.litigant,inf.defendant_name,inf.defendant_reg_capital,inf.defendant_area,inf.del_flag from case_apply ap, case_info inf where ap.case_id=inf.id) as case_apply  
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
	<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!--*********************************** generation code  end ***********************************-->

	
</mapper>