<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lawyer.base.ccase.dao.LawCustomerDao" > 
<!--*********************************** generation code  start ***********************************-->
<!-- Result Map-->
<resultMap id="BaseResultMap" type="lawyer.base.ccase.entity.LawCustomer" >
	<result column="id" property="id" jdbcType="INTEGER"/>
	<result column="code" property="code" jdbcType="VARCHAR"/>
	<result column="name" property="name" jdbcType="VARCHAR"/>
	<result column="ctype" property="ctype" jdbcType="VARCHAR"/>
	<result column="id_card" property="idCard" jdbcType="VARCHAR"/>
	<result column="e_code" property="eCode" jdbcType="VARCHAR"/>
	<result column="phone" property="phone" jdbcType="VARCHAR"/>
	<result column="linkman" property="linkman" jdbcType="VARCHAR"/>
	<result column="create_by" property="createBy" jdbcType="VARCHAR"/>
	<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
	<result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
	<result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
	<result column="remarks" property="remarks" jdbcType="VARCHAR"/>
	<result column="del_flag" property="delFlag" jdbcType="CHAR"/>
</resultMap>
       
<!-- law_customer table all fields -->
<sql id="Base_Column_List" >
	 id,code,name,ctype,id_card,e_code,phone,linkman,create_by,create_date,update_by,update_date,remarks,del_flag
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
<trim prefix = "where" prefixOverrides="and|or">
	<!--  -->
		<if test="id != null" >
	    and id =  #{id}
	</if>
	<!--  -->
		 	<if test="code != null and code != ''" >
	    and code =  #{code}
	</if>
	<!--  -->
		 	<if test="name != null and name != ''" >
	    and name =  #{name}
	</if>
	<!--  -->
		 	<if test="ctype != null and ctype != ''" >
	    and ctype =  #{ctype}
	</if>
	<!--  -->
		 	<if test="idCard != null and idCard != ''" >
	    and id_card =  #{idCard}
	</if>
	<!--  -->
		 	<if test="eCode != null and eCode != ''" >
	    and e_code =  #{eCode}
	</if>
	<!--  -->
		 	<if test="phone != null and phone != ''" >
	    and phone =  #{phone}
	</if>
	<!--  -->
		 	<if test="linkman != null and linkman != ''" >
	    and linkman =  #{linkman}
	</if>
	<!--  -->
		 	<if test="createBy != null and createBy != ''" >
	    and create_by =  #{createBy}
	</if>
	<!--  -->
		<if test="createDate != null" >
	    and create_date =  #{createDate}
	</if>
	<!--  -->
		 	<if test="updateBy != null and updateBy != ''" >
	    and update_by =  #{updateBy}
	</if>
	<!--  -->
		<if test="updateDate != null" >
	    and update_date =  #{updateDate}
	</if>
	<!--  -->
		 	<if test="remarks != null and remarks != ''" >
	    and remarks =  #{remarks}
	</if>
	<!--  -->
		 	<if test="delFlag != null and delFlag != ''" >
	    and del_flag =  #{delFlag}
	</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into law_customer(id,code,name,ctype,id_card,e_code,phone,linkman,create_by,create_date,update_by,update_date,remarks,del_flag)
 values(#{id,jdbcType=INTEGER},#{code,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{ctype,jdbcType=VARCHAR},#{idCard,jdbcType=VARCHAR},#{eCode,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{linkman,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR},#{updateDate,jdbcType=TIMESTAMP},#{remarks,jdbcType=VARCHAR},#{delFlag,jdbcType=CHAR})
</insert>

<!-- 根据id，修改记录-->
 <update id="update" parameterType="Object" >
  update law_customer set code=#{code,jdbcType=VARCHAR},name=#{name,jdbcType=VARCHAR},ctype=#{ctype,jdbcType=VARCHAR},id_card=#{idCard,jdbcType=VARCHAR},e_code=#{eCode,jdbcType=VARCHAR},phone=#{phone,jdbcType=VARCHAR},linkman=#{linkman,jdbcType=VARCHAR},create_by=#{createBy,jdbcType=VARCHAR},create_date=#{createDate,jdbcType=TIMESTAMP},update_by=#{updateBy,jdbcType=VARCHAR},update_date=#{updateDate,jdbcType=TIMESTAMP},remarks=#{remarks,jdbcType=VARCHAR},del_flag=#{delFlag,jdbcType=CHAR} where id=#{id,jdbcType=INTEGER}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update law_customer set 
	<trim  suffixOverrides="," >
	<if test="code != null  ">
		code=#{code,jdbcType=VARCHAR},
	</if>
	<if test="name != null  ">
		name=#{name,jdbcType=VARCHAR},
	</if>
	<if test="ctype != null  ">
		ctype=#{ctype,jdbcType=VARCHAR},
	</if>
	<if test="idCard != null  ">
		id_card=#{idCard,jdbcType=VARCHAR},
	</if>
	<if test="eCode != null  ">
		e_code=#{eCode,jdbcType=VARCHAR},
	</if>
	<if test="phone != null  ">
		phone=#{phone,jdbcType=VARCHAR},
	</if>
	<if test="linkman != null  ">
		linkman=#{linkman,jdbcType=VARCHAR},
	</if>
	<if test="createBy != null  ">
		create_by=#{createBy,jdbcType=VARCHAR},
	</if>
	<if test="createDate != null  ">
		create_date=#{createDate,jdbcType=TIMESTAMP},
	</if>
	<if test="updateBy != null  ">
		update_by=#{updateBy,jdbcType=VARCHAR},
	</if>
	<if test="updateDate != null  ">
		update_date=#{updateDate,jdbcType=TIMESTAMP},
	</if>
	<if test="remarks != null  ">
		remarks=#{remarks,jdbcType=VARCHAR},
	</if>
	<if test="delFlag != null  ">
		del_flag=#{delFlag,jdbcType=CHAR},
	</if>
	</trim> where id=#{id,jdbcType=INTEGER}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from law_customer where id = #{id}
</delete>
 
<!-- 根据id查询 客户信息数据表 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from law_customer where id = #{id}
</select>

<!-- 客户信息数据表 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from law_customer 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询客户信息数据表列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">

	select 
	<include refid="Base_Column_List"/>
	from law_customer 
	<include refid="Example_Where_Clause"/>
	
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>

	<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>

</select>
<!--*********************************** generation code  end ***********************************-->

	
</mapper>