<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lawyer.base.ccase.dao.NoLitigationCustomerDao" > 
<!--*********************************** generation code  start ***********************************-->
<!-- Result Map-->
<resultMap id="BaseResultMap" type="lawyer.base.ccase.entity.NoLitigationCustomer" >
	<result column="status" property="status" jdbcType="INTEGER"/>
	<result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
	<result column="org" property="org" jdbcType="VARCHAR"/>
	<result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
	<result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
	<result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
	<result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
	<result column="id" property="id" jdbcType="INTEGER"/>
	<result column="client" property="client" jdbcType="VARCHAR"/>
	<result column="principal" property="principal" jdbcType="VARCHAR"/>
	<result column="commission_sdate" property="commissionSdate" jdbcType="DATE"/>
	<result column="commission_edate" property="commissionEdate" jdbcType="DATE"/>
	<result column="billing_model" property="billingModel" jdbcType="VARCHAR"/>
	<result column="billing_standard" property="billingStandard" jdbcType="VARCHAR"/>
</resultMap>
       
<!-- no_litigation_customer table all fields -->
<sql id="Base_Column_List" >
	 status,del_flag,org,created_by,created_time,updated_by,updated_time,id,client,principal,commission_sdate,commission_edate,billing_model,billing_standard
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
<trim prefix = "where" prefixOverrides="and|or">
	<!--  -->
		<if test="status != null" >
	    and status =  #{status}
	</if>
	<!--  -->
		 	<if test="delFlag != null and delFlag != ''" >
	    and del_flag =  #{delFlag}
	</if>
	<!--  -->
		 	<if test="org != null and org != ''" >
	    and org =  #{org}
	</if>
	<!--  -->
		 	<if test="createdBy != null and createdBy != ''" >
	    and created_by =  #{createdBy}
	</if>
	<!--  -->
		<if test="createdTime != null" >
	    and created_time =  #{createdTime}
	</if>
	<!--  -->
		 	<if test="updatedBy != null and updatedBy != ''" >
	    and updated_by =  #{updatedBy}
	</if>
	<!--  -->
		<if test="updatedTime != null" >
	    and updated_time =  #{updatedTime}
	</if>
	<!--  -->
		<if test="id != null" >
	    and id =  #{id}
	</if>
	<!--  -->
		 	<if test="client != null and client != ''" >
	    and client =  #{client}
	</if>
	<!--  -->
		 	<if test="principal != null and principal != ''" >
	    and principal =  #{principal}
	</if>
	<!--  -->
		<if test="commissionSdate != null" >
	    and commission_sdate =  #{commissionSdate}
	</if>
	<!--  -->
		<if test="commissionEdate != null" >
	    and commission_edate =  #{commissionEdate}
	</if>
	<!--  -->
		 	<if test="billingModel != null and billingModel != ''" >
	    and billing_model =  #{billingModel}
	</if>
	<!--  -->
		 	<if test="billingStandard != null and billingStandard != ''" >
	    and billing_standard =  #{billingStandard}
	</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into no_litigation_customer(status,del_flag,org,created_by,created_time,updated_by,updated_time,id,client,principal,commission_sdate,commission_edate,billing_model,billing_standard)
 values(#{status,jdbcType=INTEGER},#{delFlag,jdbcType=VARCHAR},#{org,jdbcType=VARCHAR},#{createdBy,jdbcType=VARCHAR},#{createdTime,jdbcType=TIMESTAMP},#{updatedBy,jdbcType=VARCHAR},#{updatedTime,jdbcType=TIMESTAMP},#{id,jdbcType=INTEGER},#{client,jdbcType=VARCHAR},#{principal,jdbcType=VARCHAR},#{commissionSdate,jdbcType=DATE},#{commissionEdate,jdbcType=DATE},#{billingModel,jdbcType=VARCHAR},#{billingStandard,jdbcType=VARCHAR})
</insert>

<!-- 根据id，修改记录-->
 <update id="update" parameterType="Object" >
  update no_litigation_customer set del_flag=#{delFlag,jdbcType=VARCHAR},org=#{org,jdbcType=VARCHAR},created_by=#{createdBy,jdbcType=VARCHAR},created_time=#{createdTime,jdbcType=TIMESTAMP},updated_by=#{updatedBy,jdbcType=VARCHAR},updated_time=#{updatedTime,jdbcType=TIMESTAMP},id=#{id,jdbcType=INTEGER},client=#{client,jdbcType=VARCHAR},principal=#{principal,jdbcType=VARCHAR},commission_sdate=#{commissionSdate,jdbcType=DATE},commission_edate=#{commissionEdate,jdbcType=DATE},billing_model=#{billingModel,jdbcType=VARCHAR},billing_standard=#{billingStandard,jdbcType=VARCHAR} where status=#{status,jdbcType=INTEGER}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update no_litigation_customer set 
	<trim  suffixOverrides="," >
	<if test="delFlag != null  ">
		del_flag=#{delFlag,jdbcType=VARCHAR},
	</if>
	<if test="org != null  ">
		org=#{org,jdbcType=VARCHAR},
	</if>
	<if test="createdBy != null  ">
		created_by=#{createdBy,jdbcType=VARCHAR},
	</if>
	<if test="createdTime != null  ">
		created_time=#{createdTime,jdbcType=TIMESTAMP},
	</if>
	<if test="updatedBy != null  ">
		updated_by=#{updatedBy,jdbcType=VARCHAR},
	</if>
	<if test="updatedTime != null  ">
		updated_time=#{updatedTime,jdbcType=TIMESTAMP},
	</if>
	<if test="id != null  ">
		id=#{id,jdbcType=INTEGER},
	</if>
	<if test="client != null  ">
		client=#{client,jdbcType=VARCHAR},
	</if>
	<if test="principal != null  ">
		principal=#{principal,jdbcType=VARCHAR},
	</if>
	<if test="commissionSdate != null  ">
		commission_sdate=#{commissionSdate,jdbcType=DATE},
	</if>
	<if test="commissionEdate != null  ">
		commission_edate=#{commissionEdate,jdbcType=DATE},
	</if>
	<if test="billingModel != null  ">
		billing_model=#{billingModel,jdbcType=VARCHAR},
	</if>
	<if test="billingStandard != null  ">
		billing_standard=#{billingStandard,jdbcType=VARCHAR},
	</if>
	</trim> where status=#{status,jdbcType=INTEGER}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from no_litigation_customer where status = #{status}
</delete>
 
<!-- 根据id查询 非诉业务客户信息表 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from no_litigation_customer where status = #{status}
</select>

<!-- 非诉业务客户信息表 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from no_litigation_customer 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询非诉业务客户信息表列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">

	select 
	<include refid="Base_Column_List"/>
	from no_litigation_customer 
	<include refid="Example_Where_Clause"/>
	
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>

	<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>

</select>
<!--*********************************** generation code  end ***********************************-->

	
</mapper>