<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lawyer.base.ccase.dao.NoLitigationCaseDao" > 
<!--*********************************** generation code  start ***********************************-->
<!-- Result Map-->
<resultMap id="BaseResultMap" type="lawyer.base.ccase.entity.NoLitigationCase" >
	<result column="status" property="status" jdbcType="INTEGER"/>
	<result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
	<result column="org" property="org" jdbcType="VARCHAR"/>
	<result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
	<result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
	<result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
	<result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
	<result column="id" property="id" jdbcType="INTEGER"/>
	<result column="nolitigation_customer_id" property="nolitigationCustomerId" jdbcType="INTEGER"/>
	<result column="billing_model" property="billingModel" jdbcType="VARCHAR"/>
	<result column="billing_standard" property="billingStandard" jdbcType="VARCHAR"/>
	<result column="receive_date" property="receiveDate" jdbcType="DATE"/>
	<result column="src" property="src" jdbcType="VARCHAR"/>
	<result column="work_content" property="workContent" jdbcType="VARCHAR"/>
	<result column="party_draft_name" property="partyDraftName" jdbcType="VARCHAR"/>
	<result column="contract_party" property="contractParty" jdbcType="VARCHAR"/>
	<result column="resp_date" property="respDate" jdbcType="DATE"/>
	<result column="resp_file_name" property="respFileName" jdbcType="VARCHAR"/>
	<result column="account_time" property="accountTime" jdbcType="VARCHAR"/>
	<result column="remark" property="remark" jdbcType="VARCHAR"/>

	<result column="cust_del_flag" property="custDelFlag" jdbcType="VARCHAR"/>
	<result column="client" property="client" jdbcType="VARCHAR"/>
	<result column="principal" property="principal" jdbcType="VARCHAR"/>
	<result column="commission_sdate" property="commissionSdate" jdbcType="DATE"/>
	<result column="commission_edate" property="commissionEdate" jdbcType="DATE"/>
</resultMap>
       
<!-- no_litigation_case table all fields -->
<sql id="Base_Column_List" >
	 status,del_flag,org,created_by,created_time,updated_by,updated_time,id,nolitigation_customer_id,billing_model,billing_standard,receive_date,src,work_content,party_draft_name,contract_party,resp_date,resp_file_name,account_time,remark,cust_del_flag,client,principal,commission_sdate,commission_edate 
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
<trim prefix = "where" prefixOverrides="and|or">
	<!--  -->
		<if test="status != null" >
	    and status =  #{status}
	</if>
	<!--  -->
		 	<if test="delFlag != null and delFlag != ''" >
	    and del_flag =  #{delFlag}
	</if>
	<!--  -->
		 	<if test="org != null and org != ''" >
	    and org =  #{org}
	</if>
	<!--  -->
		 	<if test="createdBy != null and createdBy != ''" >
	    and created_by =  #{createdBy}
	</if>
	<!--  -->
		<if test="createdTime != null" >
	    and created_time =  #{createdTime}
	</if>
	<!--  -->
		 	<if test="updatedBy != null and updatedBy != ''" >
	    and updated_by =  #{updatedBy}
	</if>
	<!--  -->
		<if test="updatedTime != null" >
	    and updated_time =  #{updatedTime}
	</if>
	<!--  -->
		<if test="id != null" >
	    and id =  #{id}
	</if>
	<!--  -->
		<if test="nolitigationCustomerId != null" >
	    and nolitigation_customer_id =  #{nolitigationCustomerId}
	</if>
	<!--  -->
		 	<if test="billingModel != null and billingModel != ''" >
	    and billing_model =  #{billingModel}
	</if>
	<!--  -->
		 	<if test="billingStandard != null and billingStandard != ''" >
	    and billing_standard =  #{billingStandard}
	</if>
	<!--  -->
		<if test="receiveDate != null" >
	    and receive_date =  #{receiveDate}
	</if>
	<!--  -->
		 	<if test="src != null and src != ''" >
	    and src =  #{src}
	</if>
	<!--  -->
		 	<if test="workContent != null and workContent != ''" >
	    and work_content =  #{workContent}
	</if>
	<!--  -->
		 	<if test="partyDraftName != null and partyDraftName != ''" >
	    and party_draft_name =  #{partyDraftName}
	</if>
	<!--  -->
		 	<if test="contractParty != null and contractParty != ''" >
	    and contract_party =  #{contractParty}
	</if>
	<!--  -->
		<if test="respDate != null" >
	    and resp_date =  #{respDate}
	</if>
	<!--  -->
		 	<if test="respFileName != null and respFileName != ''" >
	    and resp_file_name =  #{respFileName}
	</if>
	<!--  -->
		 	<if test="accountTime != null and accountTime != ''" >
	    and account_time =  #{accountTime}
	</if>
	<!--  -->
		 	<if test="remark != null and remark != ''" >
	    and remark =  #{remark}
	</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into no_litigation_case(status,del_flag,org,created_by,created_time,updated_by,updated_time,id,nolitigation_customer_id,billing_model,billing_standard,receive_date,src,work_content,party_draft_name,contract_party,resp_date,resp_file_name,account_time,remark)
 values(#{status,jdbcType=INTEGER},#{delFlag,jdbcType=VARCHAR},#{org,jdbcType=VARCHAR},#{createdBy,jdbcType=VARCHAR},#{createdTime,jdbcType=TIMESTAMP},#{updatedBy,jdbcType=VARCHAR},#{updatedTime,jdbcType=TIMESTAMP},#{id,jdbcType=INTEGER},#{nolitigationCustomerId,jdbcType=INTEGER},#{billingModel,jdbcType=VARCHAR},#{billingStandard,jdbcType=VARCHAR},#{receiveDate,jdbcType=DATE},#{src,jdbcType=VARCHAR},#{workContent,jdbcType=VARCHAR},#{partyDraftName,jdbcType=VARCHAR},#{contractParty,jdbcType=VARCHAR},#{respDate,jdbcType=DATE},#{respFileName,jdbcType=VARCHAR},#{accountTime,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR})
</insert>

<!-- 根据id，修改记录-->
 <update id="update" parameterType="Object" >
  update no_litigation_case set del_flag=#{delFlag,jdbcType=VARCHAR},org=#{org,jdbcType=VARCHAR},created_by=#{createdBy,jdbcType=VARCHAR},created_time=#{createdTime,jdbcType=TIMESTAMP},updated_by=#{updatedBy,jdbcType=VARCHAR},updated_time=#{updatedTime,jdbcType=TIMESTAMP},nolitigation_customer_id=#{nolitigationCustomerId,jdbcType=INTEGER},billing_model=#{billingModel,jdbcType=VARCHAR},billing_standard=#{billingStandard,jdbcType=VARCHAR},receive_date=#{receiveDate,jdbcType=DATE},src=#{src,jdbcType=VARCHAR},work_content=#{workContent,jdbcType=VARCHAR},party_draft_name=#{partyDraftName,jdbcType=VARCHAR},contract_party=#{contractParty,jdbcType=VARCHAR},resp_date=#{respDate,jdbcType=DATE},resp_file_name=#{respFileName,jdbcType=VARCHAR},account_time=#{accountTime,jdbcType=VARCHAR},remark=#{remark,jdbcType=VARCHAR} where id=#{id,jdbcType=INTEGER}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update no_litigation_case set 
	<trim  suffixOverrides="," >
	<if test="delFlag != null  ">
		del_flag=#{delFlag,jdbcType=VARCHAR},
	</if>
	<if test="org != null  ">
		org=#{org,jdbcType=VARCHAR},
	</if>
	<if test="createdBy != null  ">
		created_by=#{createdBy,jdbcType=VARCHAR},
	</if>
	<if test="createdTime != null  ">
		created_time=#{createdTime,jdbcType=TIMESTAMP},
	</if>
	<if test="updatedBy != null  ">
		updated_by=#{updatedBy,jdbcType=VARCHAR},
	</if>
	<if test="updatedTime != null  ">
		updated_time=#{updatedTime,jdbcType=TIMESTAMP},
	</if>
	<if test="id != null  ">
		id=#{id,jdbcType=INTEGER},
	</if>
	<if test="nolitigationCustomerId != null  ">
		nolitigation_customer_id=#{nolitigationCustomerId,jdbcType=INTEGER},
	</if>
	<if test="billingModel != null  ">
		billing_model=#{billingModel,jdbcType=VARCHAR},
	</if>
	<if test="billingStandard != null  ">
		billing_standard=#{billingStandard,jdbcType=VARCHAR},
	</if>
	<if test="receiveDate != null  ">
		receive_date=#{receiveDate,jdbcType=DATE},
	</if>
	<if test="src != null  ">
		src=#{src,jdbcType=VARCHAR},
	</if>
	<if test="workContent != null  ">
		work_content=#{workContent,jdbcType=VARCHAR},
	</if>
	<if test="partyDraftName != null  ">
		party_draft_name=#{partyDraftName,jdbcType=VARCHAR},
	</if>
	<if test="contractParty != null  ">
		contract_party=#{contractParty,jdbcType=VARCHAR},
	</if>
	<if test="respDate != null  ">
		resp_date=#{respDate,jdbcType=DATE},
	</if>
	<if test="respFileName != null  ">
		resp_file_name=#{respFileName,jdbcType=VARCHAR},
	</if>
	<if test="accountTime != null  ">
		account_time=#{accountTime,jdbcType=VARCHAR},
	</if>
	<if test="remark != null  ">
		remark=#{remark,jdbcType=VARCHAR},
	</if>
	</trim> where id = #{id,jdbcType=INTEGER}
</update>

<!-- 删除记录 -->
<!-- 
<delete id="delete" parameterType="Object">
	delete 	 from no_litigation_case where status = #{status}
</delete>
-->
<update id="delete" parameterType="Object">
    update no_litigation_case set del_flag='1' where id = #{id}
</update>

<!-- 根据id查询 非诉业务信息表 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from (select a.del_flag as cust_del_flag, a.client, a.principal, a.commission_sdate, a.commission_edate, IFNULL(b.billing_model,a.billing_model) as billing_model, IFNULL(b.billing_standard,a.billing_standard) as billing_standard,
b.status, b.del_flag, b.org, b.created_by, b.created_time, b.updated_by, b.updated_time, b.id, a.id as nolitigation_customer_id,  b.receive_date, b.src, b.work_content, b.party_draft_name, b.contract_party, b.resp_date, b.resp_file_name, b.account_time, b.remark 
from no_litigation_customer a left join no_litigation_case b  on a.id = b.nolitigation_customer_id) as no_litigation_case where id = #{id}
</select>

<!-- 非诉业务信息表 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from (select a.del_flag as cust_del_flag, a.client, a.principal, a.commission_sdate, a.commission_edate, IFNULL(b.billing_model,a.billing_model) as billing_model, IFNULL(b.billing_standard,a.billing_standard) as billing_standard,
b.status, b.del_flag, b.org, b.created_by, b.created_time, b.updated_by, b.updated_time, b.id, a.id as nolitigation_customer_id,  b.receive_date, b.src, b.work_content, b.party_draft_name, b.contract_party, b.resp_date, b.resp_file_name, b.account_time, b.remark 
from no_litigation_customer a left join no_litigation_case b  on a.id = b.nolitigation_customer_id  ) as no_litigation_case 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询非诉业务信息表列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from (select a.del_flag as cust_del_flag, a.client, a.principal, a.commission_sdate, a.commission_edate, IFNULL(b.billing_model,a.billing_model) as billing_model, IFNULL(b.billing_standard,a.billing_standard) as billing_standard,
b.status, b.del_flag, b.org, b.created_by, b.created_time, b.updated_by, b.updated_time, b.id, a.id as nolitigation_customer_id,  b.receive_date, b.src, b.work_content, b.party_draft_name, b.contract_party, b.resp_date, b.resp_file_name, b.account_time, b.remark 
from no_litigation_customer a left join no_litigation_case b  on a.id = b.nolitigation_customer_id ) as no_litigation_case 
	<include refid="Example_Where_Clause"/>
	
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>

	<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
<!--*********************************** generation code  end ***********************************-->
</mapper>