<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lawyer.base.ccase.dao.SimpleFlowAttachDao" > 
<!--*********************************** generation code  start ***********************************-->
<!-- Result Map-->
<resultMap id="BaseResultMap" type="lawyer.base.ccase.entity.SimpleFlowAttach" >
	<result column="sflow_id" property="sflowId" jdbcType="INTEGER"/>
	<result column="sfile_attach_id" property="sfileAttachId" jdbcType="INTEGER"/>
</resultMap>
       
<!-- simple_flow_attach table all fields -->
<sql id="Base_Column_List" >
	 sflow_id,sfile_attach_id
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
<trim prefix = "where" prefixOverrides="and|or">
	<!--  -->
		<if test="sflowId != null" >
	    and sflow_id =  #{sflowId}
	</if>
	<!--  -->
		<if test="sfileAttachId != null" >
	    and sfile_attach_id =  #{sfileAttachId}
	</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into simple_flow_attach(sflow_id,sfile_attach_id)
 values(#{sflowId,jdbcType=INTEGER},#{sfileAttachId,jdbcType=INTEGER})
</insert>

<!-- 根据id，修改记录-->
 <update id="update" parameterType="Object" >
  update simple_flow_attach set sfile_attach_id=#{sfileAttachId,jdbcType=INTEGER} where sflow_id=#{sflowId,jdbcType=INTEGER}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update simple_flow_attach set 
	<trim  suffixOverrides="," >
	<if test="sfileAttachId != null  ">
		sfile_attach_id=#{sfileAttachId,jdbcType=INTEGER},
	</if>
	</trim> where sflow_id=#{sflowId,jdbcType=INTEGER}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from simple_flow_attach where sflow_id = #{sflow_id}
</delete>
 
<!-- 根据id查询 简单流程关联附件信息表 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from simple_flow_attach where sflow_id = #{sflow_id}
</select>

<!-- 简单流程关联附件信息表 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from simple_flow_attach 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询简单流程关联附件信息表列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">

	select 
	<include refid="Base_Column_List"/>
	from simple_flow_attach 
	<include refid="Example_Where_Clause"/>
	
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>

	<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>

</select>
<!--*********************************** generation code  end ***********************************-->

	
</mapper>